.title{
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    height: 10vh;
    
}
.logo{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo >img{
    width:70px;
}
.pro_logo >span{
    font-size: 11px;
    font-weight: 700px;
    font-style: italic;
    font-weight: 600;
    color: black;
} 
.search{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 3px;
}
.search >input{
    border: none;
    outline: none;
    width: 36vw;
    padding: 10px 15px;
    border-radius: 3px;
}
.login_button >button{
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    width: 9vw;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    padding: 7px 7px;
}

.orders{
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    width: 9vw;
    font-size: 15px;
    cursor: pointer;
    font-weight: 400;
    padding: 7px 7px;
}
.contact_us{
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    width: 9vw;
    font-size: 15px;
    cursor:pointer;
    font-weight: 400;
    padding: 7px 7px;
    
}